<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <connectionStrings>
    <add name="NtierMvc.Connection" connectionString="Data Source=LAPTOP-9BUFM0GD\SQLEXPRESS;Initial Catalog=NtierMvcDB;Integrated Security=SSPI;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- The currently applied connection -->
    <add key="CurrentAppConnection" value="NtierMvc.Connection" />
    <add key="EnableLogging" value="True" />
    <add key="LoggingPath" value="D:\LoggingData" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Local WebAPI Start-->
    <!--<add key="WebAPIURL" value="http://localhost:60021/api/" />-->
    <add key="WebAPIURL" value="http://localhost:60021/api/" />
    <!--Local WebAPI Start-->
    <add key="ReportsCreateExcelPRP" value="C:\Reports\PRPReports\" />
    
    <!--Redis Cache settings-->
    <add key="RedisServerState" value="DevServerCacheData" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CacheConnection" value="dvetp1.redis.cache.windows.net:6380,password=xS4B/kkgKrne+vSI0FrL4CBvn/3RBYABeYIANZ0CRwE=,ssl=True,abortConnect=False" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dvetmhdevstorage;AccountKey=qXeDMsjdPOUo1+N9XTlVhoppCOI9vRHXlYOPLlRO/oM9scd5lzDz7EcJi90ZFQ2T02YypRHn4UfI22OMz+LhPw==;EndpointSuffix=core.windows.net;" />
    <!--yyyyMMddhhmmss-->
    <add key="ReleaseVersion" value="201803061032" />
    <add key="CookieEncryptionKey" value="B91194D33F839FC1376E31F335AAA964B7AA9B251219D7CB8B5DFAB996" />
    <!--<add key="CookieURL" value="Affiliation-dev-130002.SaaS.TalismaOnline.Com" />-->
    <add key="CookieURL" value="" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="30" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <!-- Register the HttpHandler used for BotDetect Simple API requests -->
      <add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
      <!-- Register the HttpHandler used for BotDetect Traditional API requests -->
      <!-- Remove this comment to register register Traditional API HttpHandler
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
			-->
    </httpHandlers>
    <!-- Register a custom SessionIDManager for BotDetect Traditional API requests -->
    <!-- Remove this comment to register Traditional API Custom SessionIDManager
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
		-->
    <!-- Make sure Session State is enabled for using BotDetect Traditional API
		<pages enableSessionState="true">
		-->
    <pages>
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3451.0.19" newVersion="17.3451.0.19" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3451.0.19" newVersion="17.3451.0.19" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
  <!-- Remove this comment to configure BotDetect Traditional API options
	<botDetect helpLinkEnabled="true" helpLinkMode="image" />
	-->
  <botDetect helpLinkEnabled="true" helpLinkMode="image" />
</configuration>