<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="NtierMvc.Connection" connectionString="Data Source=LAPTOP-9BUFM0GD\SQLEXPRESS;Initial Catalog=NtierMvcDB;Integrated Security=SSPI;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- The currently applied connection -->
    <add key="CurrentAppConnection" value="NtierMvc.Connection" />
    <add key="EnableLogging" value="True" />
    <add key="LoggingPath" value="D:\LoggingData" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>