@using NtierMvc.Model
@using NtierMvc.Infrastructure

@model NtierMvc.Model.QuotationPreparationEntity
@{
    ViewBag.Title = "Technical";
}

<div class="row mt-1">
    <div class="col-md-12">

    </div>
</div>


<!--Modal Panel-->
<div id="ClarificationPanel">
    <div id="ClarificationPanelContainer">
        <div id="ClarificationPanelBody">
        </div>
    </div>
</div>
<!--Modal Panel End-->


<script type="text/javascript">

    $(document).ready(function () {
        $('.redBG').removeClass('redBG').addClass('black');

    });

</script>
<script src="~/Scripts/CustomJS/TechClarification.js"></script>

