
@using NtierMvc.Model
@using NtierMvc.Infrastructure
@{
    ViewBag.Title = "Report Document";
}



@*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>*@
@*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />*@

@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    //$(function () {
    //    $('input[name="daterange"]').daterangepicker({
    //        opens: 'Right'
    //    }, function (start, end, label) {
    //        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    //    });
    //});

    $(function () {
        var dateFormat = "dd/mm/yyyy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: false,
                    numberOfMonths: 1
                   
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "1y",
                changeMonth: false,
                numberOfMonths: 1
                
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
<!-- <link type="text/css" rel="stylesheet" href="uniform.default.css" /> -->


<div ng-controller="ReportController">
    <div id="DocumentPanel">
        <div id="DocumentPanelContainer">
            <div id="DocumentPanelBody">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label"> Report Name<span class="required">*</span></label>

                        <div ng-click="GetSONoDetails()">

                            <select id="DdlReportType" class="form-control control-color"
                                    ng-model="ReportType">
                                <option value=''>Select ReportType</option>

                                <option value="CUSTOMERFEEDBACK">Customer Feedback</option>
                                <option value="WAuthReport">Work Authorization</option>
                                <option value="ProductPerformance">Product Performance</option>
                                <option value="EnquiryReport">Enquiry Report</option>
                                @*<option value="10">10</option>
        <option value="25">25</op tion>
        <option value="50">50</option>
        <option value="100">100</option>*@
                            </select>
                        </div>
                    </div>


                    <div class="col-md-3" ng-show="ISTure">
                        <label class="control-label"> WA:<span class="required">*</span></label>

                        <select ng-model="SoNo" class="form-control control-color">
                            <option value=''>Select</option>
                            <option ng-repeat="x in SonoList" value="{{x.DataTextField}}">{{x.DataTextField}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" ng-hide="ISTure">
                        <label class="control-label"> Fin Year<span class="required">*</span></label>
                        @*<input type="text" id="datepicker1" />*@
                        <label for="from">From</label>
                        <input type="text" id="from" name="from" ng-model="date" >
                        <label for="to">to</label>
                        <input type="text" id="to" name="to" ng-model="date1">
                        @*<input type="text" id="datepicker1" class="form-control control-color" name="daterange" ng-model="date" />*@
                        <div>


                        </div>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm" style="font-size:18px" ng-click="GenerateWAuthReport();">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        window.GenerateReport = '@Url.Action("CreateReport", "CRM")';
        window.DownloadDoc = '@Url.Action("Download", "CRM")';
        window.TecnicalMaster = '@Url.Action("GetSoNoList", "Technical")';
        window.GenerateWAAuthReport = '@Url.Action("CreateWAAuthReport", "CRM")';


    });

</script>
