@using NtierMvc.Model
@using NtierMvc.Infrastructure
@{
    ViewBag.Title = "Home";
}
<div class="col-md-12">
    <!-- Grid column -->
    <div class="col-md-12  mt-auto">
        <div class="container">
            <h1 class="text-center">
                Welcome To ERP
            </h1>
        </div>
        

        
    </div>
</div>
