@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ERP Dashboard</h2>
    <p class="lead">Dashboard will come here!</p>
    @*<p><a href="~/Employees/ListAll" class="btn btn-primary btn-lg">List All Employees</a></p>*@
</div>